SEB_JMS/SEB_JMS_JAXB/src/main/resources/pingpong.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cmn="http://www.seb.ee/common" elementFormDefault="qualified">
	<element name="PingPong">
		<annotation>
			<documentation>PingPong</documentation>
		</annotation>
		<complexType>
		<sequence>
			<element name="pingMessage" type="string" minOccurs="0">
				<annotation>
					<documentation>Ping Message</documentation>
				</annotation>
			</element>
			<element name="pongMessage" type="string" minOccurs="0">
				<annotation>
					<documentation>Pong Message</documentation>
				</annotation>
			</element>
		</sequence>
		</complexType>
</element>
</schema>
